*{
    margin:0; 
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky; /* Sticks to the top */
    top: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(14, 13, 13, 0.8); /* Low opacity background */
    color: white;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

body:has(.scrolling-down) nav {
    transform: translateY(-100%); /* Hide navbar when scrolling down */
}

body:has(.scrolling-up) nav {
    transform: translateY(0); /* Show navbar when scrolling up */
}
.logo{
    width: 120px;
    height: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 700;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #df3d3d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #df3d3d;
}
/* --------------------- ABOUT ------------------- */
#about{
    padding: 80px 0;
    color: #ababab;
    /* Modify */
    text-align: justify;
    text-justify: inter-word;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f50606;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #d11313;
    font-size: 16px;
}
.tab-contents ul li .text-right{
    color: #bea6a6;
    font-size: 14px;
    float: right;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-img{
    /* border: 10px solid red; */
    text-align: center;
    margin-bottom: 15px;
}
.tab-img img{
    border-radius: 20px 20px;
    padding: 5px;
    height: 150px;
    width: 150px;
}
.skills-img {
    text-align: center;
}
.skills-img img{
    border-radius: 25px 25px;
    padding: 15px;
    height: 220px;
    width: 300px;
}
/* --------------------- OTHERS SKILLS ------------------- */
#others-skills{
    padding: 30px 0;
}
.others-skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.others-skills-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.8s, trasnform 0.8s;
}
.others-skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.others-skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.others-skills-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.others-skills-list div:hover{
    background: #d11313;
    transform: translateY(-10px);
    transition: 0.5s;
}
/* --------------------- My Work ------------------- */
#mywork{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #f50606);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #f50606;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #f50606;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #f50606;
}
/* --------------------- CONTACT ------------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #df3d3d;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #f50606;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #f50606;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #d11313;
}
/* --------------------- CSS for Small Screen ------------------- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){

    #header{
        background-image: url(images/coder.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #df3d3d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}


/* Sweet Alert CSS */

.custom-popup {
    background-color: #1a1a1a; /* Dark background */
    color: #ffffff; /* White text */
    border: 2px solid #df3d3d; /* Red border */
    border-radius: 8px;
}

.custom-button {
    background-color: #df3d3d; /* Red button background */
    color: #ffffff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #c32e2e; /* Darker red on hover */
}

.custom-popup p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #ccc; /* Slightly lighter text for the description */
}

/* Typing animation */
.typing::after {
    content: '|';
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* skills section styling */

/* .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
} */

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.skills{
    margin-top: 50px;
}
.skills .title::after{
    content: "What I Known Skills";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
/* .skills .skills-content .left a{
    /* display: inline-block; */
    /* background: #0E86D4;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #0E86D4;
    transition: all 0.3s ease; */
/* }  */

/* .skills .skills-content .left a:hover{
    color: #0E86D4;
    background: none;
} */
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #f50606;
}
.skills-content .right .html::before{
    width: 88%;
}
.skills-content .right .css::before{
    width: 82%;
}
.skills-content .right .bootstrap::before{
    width: 85%;
}
.skills-content .right .js::before{
    width: 82%;
}

.skills-content .right .mssql::before{
    width: 85%;
}
.skills-content .right .php::before{
    width: 80%;
}

.skills-content .right .python::before{
    width: 82%;
}
.skills-content .right .mysql::before{
    width: 80%;
}
/* end skills */


/* showcase animation start */

.showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: Arial, sans-serif;
}

.slider {
width: 90%;
max-width: 1000px;
overflow: hidden;
border-radius: 10px;
box-shadow: 0 15px 30px rgba(231, 14, 14, 0.2);
border-style: solid;
border-color: #f506064b;
}

.slider-track {
display: flex;
width: calc(250px * 8); /* number of images * image width */
animation: scroll 20s linear infinite;
}

.slider-track img {
width: 350px;
height: 350px;
object-fit:fill;
}

@keyframes scroll {
0% { transform: translateX(0); }
100% { transform: translateX(-50%); }
}

/* Make responsive */
@media (max-width: 768px) {
.slider-track img {
    width: 200px;
    height: 120px;
}
}

@media (max-width: 480px) {
.slider-track img {
    width: 250px;
    height: 150px;
}
}


/* showcase animation end */